        * {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        .navbar{
            background-color: grey;
            display: flex;
            height: 30px;
            align-items: center;
        }

        .logo{
            flex: 1;
            margin-left: 10px;
        }
        .nav-links{
            flex: 1;
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        a {
            text-decoration: none;
        }
        input{
            border-radius: 2px;
            
        }