#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.mb-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb-3 > input {
  width: 400px;
}

