
* {
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #333333;
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header1 h2{
    color:white;
    font-family: Arial, sans-serif;
}

main{
    flex:5;
    display: flex;
}
#main_i{
    display: flex;
    margin-top: 70px;
}
#main_d{
    flex:3;
    display:flex;
    flex-direction:column;
}
#main_i_1{
    flex:1;
    border: solid 2px;
    border-radius: 5px;
    height: 320px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;

}
#main_i_1 img{
    max-width: 140px;
    border-radius: 100px;
    margin-left:25px;
}
#main_i_1 h3{
    margin-top: 50px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
}
#main_d_a{
    background-color: #f4f4f4;
    flex: 1;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}
#main_d h1{
    margin-top: 16px;
    margin-left:15px;
    font-family: Arial, sans-serif;
}
#main_d_1{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.dlg{
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

#btn_mg{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    background-color: #f3d501;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}
#like1 , #like2 , #like3{
    margin-left:60px;
}

