*{
    text-align: center;
    
}
#fondo {
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
img{
    width: 100px;
}

#imagenes1{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
}

#imagenes2{
    display: flex;
    background-color: lightpink;
    justify-content:space-around;
}

#imagenes3{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
}

#final {
    background-color: lightgreen;
}


