.row {
    background-color: lightgray;
    margin: 10px;
    display: flex;
/* Ac치 va 1 propiedad */
}
  
.col {
    flex: 1;
/* Ac치 van 4 propiedades */
}
  
.col-2 {
    flex: 2;
/* Ac치 va 1 propiedad */
}
  
.col-3 {
    flex: 3;
/* Ac치 va 1 propiedad */
}