* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}
#miBoton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#miBoton:hover {
    background-color:darkorchid;
}