* {
    padding: 0;
    margin: 0;
    font-family: Comic Neue, Comic Sans MS, monospace;

}
body{
    height: 100vh;
}
hr{
    border: 1px solid;
    margin: 20px;
}
#header1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92c47d;
    height: 30px;
}
#a{
    color:#3e8237;
}
#b{
    color:#a7be8f;
}
#c{
    color:#83a76a;
}
#header2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
}
#header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.btn_ad{
    background-color: #b5d8a8;
    box-shadow: 0.2rem 0.2rem 0rem black;
    color: black;
    padding: 0.5rem;
}
.btn_don{
    background-color: #38761b;
    box-shadow: 0.2rem 0.2rem 0rem black;
    color: white;
    padding: 0.5rem;
}
main{
    display: flex;
    flex:8;
}
#derecha{
    flex:4;
}
#izquierda{
    flex: 4;
}
.arbol{
    flex:2;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 20px;
}

img{
    width: 70%;
    min-width: 70%;
    margin: 1rem;
}
.btn_p{
    background-color:#b5d7a7;
    box-shadow: 0.2rem 0.2rem 0rem black;
    margin: 1rem;
    padding: 0.5rem;
}
footer{
    background-color: #92c47d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#f_4{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn_f{
    background-color: #38761b;
    box-shadow: 0.2rem 0.2rem 0rem black;
    color: white;
}
#btn_correo{
    box-shadow: 0.2rem 0.2rem 0rem black;
}

footer h2{
    color: white;
}
